doctype html
html(style={background:'brown'})
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  header 
  h1(style={color:'yellow'})  Secure007 MeanStack App
  section
    block content
    footer
     cool Copyright (c) UFI Tech Ltd