doctype html
html(style={background:'brown'})
  head 
    h1(style={color:'yellow'})  Secure007 MeanStack App
     block headContent
        
  body
     block bodyContent 
  footer
     p Copyright (c) UFI Tech Ltd